<div ng-module='boorish.teacher'>
  <div ng-controller='TeacherController'>
    <div> Request Table </div>
    <table>
  <tr>
    <th class='user-header'> Student </th>
    <th class='user-header'> Description </th>
    <th class='user-header'> Link </th>

  </tr>
  <tr class='user-row' ng-repeat="request in requests.results">
    <td class='user-row-item' editable-text="request.ToId"></td>
    <td class='user-row-item' editable-text="request.description"></td>
    <td class='user-row-item' editable-text="request.email" ></td>
    <td class='user-row-item'>http://www.google.com</td>

    
    <!-- <form ng-show="editing" ng-submit="editing = false">
     <label>RoleId</label>
     <input type="text"  placeholder="Role" ng-required/>
     <button class="btn" type="submit">Save</button>
    </form>  -->
  </tr>


    </table>
    <!-- <ul >
      <li ng-repeat='user in users.results'>
        <img src='{{user.image}}'>
        <span>{{user.name}}</span>
        <span> {{user.RoleId}} </span>
      </li>
    </ul> -->
  </div>
</div>