<div ng-module='boorish.teacher'>
  <div ng-controller='TeacherController'>
     <h3> Pending Help Requests </h3>
    <table>
  <tr>
    <th class='user-header'> Request Id </th>
    <th class='user-header'> Student </th>
    <th class='user-header'> Description </th>
    <th class='user-header'> Link </th>

  </tr>
  <tr class='user-row' ng-repeat="request in requests.results | filter: {closed: false}">
    <td ng-model='identifier' value="{{request.id}}" class='user-row-item' > {{request.id}} </td>
    <td class='user-row-item' > {{request.studentName}} </td>
    <td class='user-row-item'> {{request.description}}</td>
    <td class='user-row-item'> Enter Chat Room Here:  </td>
    <td class='user-row-item'><a href='#/chatroom/{{request.id}}'> Chat Link </a></td>
    <td><form class="user-row-item" name="f2" ng-submit="removeRequest(request.id)"> 
      <input type="submit" value="Close Request"/> 
    </form>
  </td>

    
    <!-- <form ng-show="editing" ng-submit="editing = false">
     <label>RoleId</label>
     <input type="text"  placeholder="Role" ng-required/>
     <button class="btn" type="submit">Save</button>
    </form>  -->
  </tr>
    <!-- <ul >
      <li ng-repeat='user in users.results'>
        <img src='{{user.image}}'>
        <span>{{user.name}}</span>
        <span> {{user.RoleId}} </span>
      </li>
    </ul> -->
  </div>
</div>