body {
  color: #888;
  font: 300 14px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {

  font-weight: 500;
  text-transform: uppercase;
  color: #293f50;
}

select {
  width: auto !important;
}

.btn {
  padding-top: 10px;
}

.navigation {
    margin-bottom: 20px;
    background-color: #293f50;
    color:#00CCFF;
    border-bottom: 2px solid #e7e7e7;
}

.btn {
    padding: 9px 12px 7px;
     border-width: 0 0px 0px 0px; 
     font-size: 12px; 
     font-weight: 500; 
    text-transform: uppercase;
}

.btn:hover {
  margin-top:0px;
    padding: 9px 12px 7px;
    border-width: 0 0px 0px 0px; 
    font-size: 12px; 
    font-weight: 500; 
    text-transform: uppercase;
}

.btn-default {
    color: #555555;
    background-color: lightgrey;
    border-color: #e2e2e2;
}

.btn-default:hover {
    background-color: #555555;
    color: #eeeeee;
    border-color: #e2e2e2;
}

.btn-primary {
    background-color: #293f50;
    color:#00CCFF;
    border-color: #127ba3;
}

.btn-primary:hover {
    color: #293f50;
    background-color:#00CCFF;
    border-color: #127ba3;
}

.navs {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.navs > * {
  list-style: none;
  margin: 0 5px;
  display: inline-flex;
  padding: 5px;
}

a {
  color: #293f50;
}

.navs > a {
  /*background-color:darkgrey;*/
  padding: 6px;
  color:#00CCFF;
}
.navs > a > span {
  padding: 2px;
}

.search-box {
  width: 250px;
  margin-left: auto;
}

.user-profile-link {
  width: 32px;
  height: 32px;
}

.question-list-item {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 5px 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.question-summary {
  width: 150px;
}

.question-content {
  /*width: 70%;*/
  flex-grow: 1;
}

.question-page-item {
  background-color: rgb(248, 248, 248);
  /*border-top: 1px solid lightgray;*/
  /*border-bottom: 1px solid lightgray;*/
  padding: 5px 5px 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-content: center;
  border-radius: 5px;
}

.answer-page-item {
  /*border-top: 1px solid lightgray;*/
  /*border-bottom: 1px solid lightgray;*/
  padding: 15px 5px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #eeeeee;
}

.question-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  margin-left: 15px;
  margin-right: 15px;
}

/*.answer {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*align-content: center;*/
  /*background-color: green;*/
/*}*/

.answer-votes {
  width: 100px;

}

.answer-content {
  flex-grow: 1;
}

.tag, .course {

  padding: 5px;
  border-radius: 3px;
  background-color: #293f50;
    color:#00CCFF;
  display: inline-block;
}

.dropdown-label {
  text-align: right;
  padding: 10px 5px;
}

.dropdown-form * {
  display: inline-block;
}

.user-header {
  font-weight:500;
  width: 100px;
}

.user-row {
  margin-top: 3px;
  margin-bottom: 3px;
}

.user-row-item {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.chat-photo {
  display: inline-block;
  border-radius: 20px;
  width:35px;
  margin-right: 10px;
}

.user-row-image {
  height: 50px;
  width: 50px;
}

.chats {
  width:100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.chat-user {
  font-size: 12px;
  font-weight: bold;
}

.chat-message {
  display: inline-block;
  margin:5px;
  font-size: 12px;
  padding:10px;
  width: 85%;
  border-radius: 5px;
}

.chat-item {
  white-space: nowrap;
}

.chat-time {
  display: inline-block;
  text-align: right;
  white-space: nowrap;
  font-size: 11px;
  opacity: .7;
}

.theirs {
  background-color: lightblue;
  padding-right:10px;
}

.mine {
  background-color: lightgrey;
  padding-left:10px;
}

.header-item {
  padding-right:10px;
}

.header-icon {
  font-size: 20px;
  color:#00CCFF;
}

.user-photo {
  border-radius: 20px;
}

ul
{
    list-style-type: none;
}
