 <div ng-module='boorish.chatroom'>
  <form>
    <h3>CHAT ROOM</h3>
    <hr>
    
    
    <table class='chats'>
      
      <tr ng-repeat='message in messages' class='chat-item'>
        

        <td ><image class='chat-photo' ng-src="{{ message.image }}" /></td>
        <td class='chat-message'>{{ message.message }} </td>
        <td class='chat-time'>{{ message.time }}</td>

      </tr>

    </table>
    
    <div class="form-group">
      <textarea class="form-control" type='question' ng-model='message' rows='5' cols='80' maxlength="255" ng-trim="true" placeholder='send a message'></textarea>
    </div>


    <div class="form-group pull-right">
      <input class="btn btn-primary" type='submit' ng-click='sendMessage()' value='Send'>
    </div>
  </form>
</div>
